<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-SgOJa3DmI69IUzQ2PVdRZhwQ+dy64/BUtbMJw1MZ8t5HZApcHrRKUc4W0kG879m7" crossorigin="anonymous">
  </head>
  <body>
    
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <a href="" class="navbar-brand">Notification Demo</a>
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <span  class="badge bg-primary" id="notification-count">0</span>
                        
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container my-4">
      <h3>Send Notification Form</h3>
      <form id="notificationForm">
        <div class="mb-3">
          <input type="text" id="messageInput" class="form-control" placeholder="enter notification message">
        </div>
        <button type="submit" class="btn btn-primary">Send Notification</button>
      </form>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/js/bootstrap.bundle.min.js" integrity="sha384-k6d4wzSIapyDyv1kpU366/PK5hCdSbCRGRCMv+eplOQJWyd1fbcAu9OCUj5zNLiq" crossorigin="anonymous"></script>
    <script src="https://cdn.socket.io/4.8.1/socket.io.min.js" integrity="sha384-mkQ3/7FUtcGyoppY6bz/PORYoGqOl7/aSUMn2ymDOJcapfS6PHqxhRTMh1RR0Q6+" crossorigin="anonymous"></script>
    <script>
      // connect to ws
      const socket = io()

      // form submissiob
      document.getElementById('notificationForm').addEventListener('submit',function(e){
        e.preventDefault() // stop refresh
        const message = document.getElementById('messageInput').value; // get message

        socket.emit('send_notification',message)  // event name , send message to ws send_notification event

        document.getElementById('messageInput').value = '';
      })

      // hndel new notification
      socket.on('new_notification',function(data){

          // update Count
          const notificationCount = document.getElementById('notification-count')
          let count = parseInt(notificationCount.textContent)
          notificationCount.textContent = count + 1
          

      })
    </script>
  </body>
</html>